n8n/workflows/Bible AI Chatbot - Web API (Com Assinatura + Base SQL).json
{
  "name": "Bible AI Chatbot - Web API (Com Assinatura + Base SQL)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat/bible",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "21f1f34d-61bd-4f3a-839d-baca5fc3c393",
      "name": "Webhook - Chat Bible API",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        5200,
        1776
      ],
      "webhookId": "bible-chat-webhook",
      "notes": "Endpoint principal: POST /webhook/chat/bible\n\nEspera body JSON:\n{\n  \"message\": \"pergunta do usuario\",\n  \"sessionId\": \"id-unico-sessao\",\n  \"userId\": \"id-usuario\" (OBRIGATORIO para verificar assinatura)\n}"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// VALIDACAO DE PARAMETROS DA REQUISICAO (CORRIGIDO)\n// ========================================\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n\n  // DEBUG: Log para ver o que está chegando\n  console.log('Dados recebidos:', JSON.stringify(data, null, 2));\n\n  // Tentar múltiplas formas de acessar o body\n  let body = data.body || data.query || data;\n\n  // Se body for string, fazer parse\n  if (typeof body === 'string') {\n    try {\n      body = JSON.parse(body);\n    } catch (e) {\n      console.log('Erro ao fazer parse do body:', e);\n      body = data;\n    }\n  }\n\n  // Se body não for objeto, usar data diretamente\n  if (!body || typeof body !== 'object') {\n    body = data;\n  }\n\n  // Extrair message (tentar vários campos possíveis)\n  const message = body.message || body.msg || body.text ||\n                  data.message || data.msg || data.text || '';\n\n  console.log('Message extraída:', message);\n\n  // Validar campo obrigatorio: message\n  if (!message || typeof message !== 'string' || message.trim() === '') {\n    throw new Error('VALIDATION_ERROR: Campo \"message\" e obrigatorio e deve ser uma string nao vazia. Recebido: ' + JSON.stringify(data));\n  }\n\n  // Extrair userId (tentar vários campos)\n  const userIdRaw = body.userId || body.user_id || body.userid ||\n                    data.userId || data.user_id || data.userid || '';\n\n  // Validar userId (obrigatorio para sistema de assinatura)\n  if (!userIdRaw || typeof userIdRaw !== 'string' || userIdRaw.trim() === '') {\n    throw new Error('VALIDATION_ERROR: Campo \"userId\" e obrigatorio para verificacao de assinatura. Recebido: ' + JSON.stringify(data));\n  }\n\n  // Extrair email (enviado pelo frontend)\n  const email = body.email || data.email || '';\n\n  // Extrair sessionId\n  const sessionId = body.sessionId || body.session_id ||\n                    data.sessionId || data.session_id ||\n                    `session_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n\n  // Limitar tamanho da mensagem\n  const userMessage = message.trim().substring(0, 2000);\n\n  results.push({\n    json: {\n      userMessage,\n      sessionId,\n      userId: userIdRaw.trim(),\n      email: email.trim().toLowerCase(),\n      timestamp: new Date().toISOString(),\n      requestId: `req_${Date.now()}_${Math.random().toString(36).substr(2, 6)}`\n    }\n  });\n}\n\nreturn results;\n\n"
      },
      "id": "5c479efa-1d61-4c2d-91d7-252d7d238038",
      "name": "Validar Parametros",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5424,
        1776
      ],
      "notes": "Valida os parametros recebidos:\n- message (obrigatorio)\n- userId (obrigatorio para assinatura)\n- sessionId (gerado se nao fornecido)\n\nLimita mensagem a 2000 caracteres."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT user_id, email, status, plan_id, plan_name, next_payment_date, metadata FROM subscriptions WHERE user_id = $1 LIMIT 1;",
        "options": {}
      },
      "id": "29d7d85f-94b2-47fa-8417-4cb8a11a29c9",
      "name": "Buscar Assinatura no DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        5648,
        1776
      ],
      "credentials": {
        "postgres": {
          "id": "TObxguE2q2q3R9xN",
          "name": "Postgres account"
        }
      },
      "notes": "Busca assinatura do usuario no banco PostgreSQL."
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// VERIFICAR ASSINATURA DO USUARIO\n// ========================================\n\n// Lista de emails com acesso de admin (ilimitado)\nconst ADMIN_EMAILS = [\n  'henriquer01@rojasdev.cloud',\n  'admin@rojasdev.cloud'\n];\n\n// Dados da validacao anterior\nconst inputData = $('Validar Parametros').first().json;\nconst { userId, userMessage, sessionId, email, timestamp, requestId } = inputData;\n\n// Resultado da busca no banco\nconst dbResults = $input.all();\nconst subscription = dbResults.length > 0 && dbResults[0].json.user_id ? dbResults[0].json : null;\n\n// Verificar se e admin (pelo email enviado na requisicao)\nconst isAdminByRequestEmail = email && ADMIN_EMAILS.some(adminEmail => \n  email.toLowerCase() === adminEmail.toLowerCase()\n);\nconst isAdminBySubscriptionEmail = subscription?.email && ADMIN_EMAILS.some(adminEmail => \n  subscription.email.toLowerCase() === adminEmail.toLowerCase()\n);\nconst isAdminByMetadata = subscription?.metadata?.role === 'admin';\nconst isAdmin = isAdminByRequestEmail || isAdminBySubscriptionEmail || isAdminByMetadata;\n\n// Verificar se usuario tem assinatura ativa\nconst hasActiveSubscription = subscription && \n  (subscription.status === 'active' || subscription.status === 'authorized');\n\n// Admin sempre tem acesso\nconst accessGranted = isAdmin || hasActiveSubscription;\n\nreturn [{\n  json: {\n    userId,\n    userMessage,\n    sessionId,\n    email,\n    timestamp,\n    requestId,\n    subscription: {\n      hasActive: hasActiveSubscription || isAdmin,\n      status: isAdmin ? 'admin' : (subscription?.status || 'none'),\n      planId: subscription?.plan_id,\n      planName: isAdmin ? 'Admin Ilimitado' : subscription?.plan_name,\n      expiresAt: subscription?.next_payment_date,\n      isAdmin: isAdmin\n    },\n    access: {\n      granted: accessGranted,\n      reason: isAdmin ? 'admin' : hasActiveSubscription ? 'active_subscription' : 'no_subscription'\n    }\n  }\n}];"
      },
      "id": "f386492b-4f11-4a32-9d95-64e52b7cf404",
      "name": "Verificar Assinatura",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5872,
        1776
      ],
      "notes": "Processa resultado da busca no banco e verifica se usuario tem assinatura ativa ou e admin."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "access-granted-condition",
              "leftValue": "={{ $json.access.granted }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "14571099-c194-48ba-8d74-ef6328b3c21d",
      "name": "Acesso Permitido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6080,
        1776
      ],
      "notes": "Verifica se o acesso foi concedido.\n\nSe sim: continua para busca e IA\nSe nao: retorna erro de assinatura"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// EXTRAIR TERMOS DE BUSCA DA PERGUNTA\n// ========================================\n\nconst items = $input.all();\nconst results = [];\n\n// Palavras comuns a ignorar na busca\nconst stopWords = new Set([\n  'o', 'a', 'os', 'as', 'um', 'uma', 'uns', 'umas',\n  'de', 'da', 'do', 'das', 'dos', 'em', 'na', 'no', 'nas', 'nos',\n  'por', 'para', 'com', 'sem', 'sob', 'sobre',\n  'e', 'ou', 'mas', 'porem', 'contudo', 'entretanto',\n  'que', 'qual', 'quais', 'quem', 'onde', 'quando', 'como', 'porque',\n  'esse', 'essa', 'esses', 'essas', 'este', 'esta', 'estes', 'estas',\n  'isso', 'isto', 'aquilo', 'aquele', 'aquela',\n  'meu', 'minha', 'seu', 'sua', 'nosso', 'nossa',\n  'ser', 'estar', 'ter', 'haver', 'fazer', 'ir', 'vir',\n  'foi', 'era', 'seria', 'sido', 'sendo',\n  'me', 'te', 'se', 'nos', 'vos', 'lhe', 'lhes',\n  'muito', 'pouco', 'mais', 'menos', 'bem', 'mal',\n  'sim', 'nao', 'talvez', 'ja', 'ainda', 'sempre', 'nunca',\n  'aqui', 'ali', 'la', 'ca', 'onde',\n  'biblia', 'versiculo', 'capitulo', 'livro', 'texto', 'diz', 'fala', 'disse'\n]);\n\nfor (const item of items) {\n  const { userMessage, sessionId, userId, timestamp, requestId, subscription, access } = item.json;\n  \n  // Extrair termos relevantes da pergunta\n  const words = userMessage\n    .toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '') // Remove acentos para busca\n    .replace(/[^a-z0-9\\s]/g, ' ') // Remove pontuacao\n    .split(/\\s+/)\n    .filter(word => word.length > 2 && !stopWords.has(word));\n  \n  // Detectar referencias biblicas (ex: Joao 3:16, Genesis 1)\n  const refPattern = /([1-3]?\\s*[a-zA-Z]+)\\s*(\\d+)(?:[:.,](\\d+))?(?:\\s*[-a]\\s*(\\d+))?/gi;\n  const references = [];\n  let match;\n  while ((match = refPattern.exec(userMessage)) !== null) {\n    references.push({\n      livro: match[1].trim(),\n      capitulo: parseInt(match[2]),\n      versiculoInicio: match[3] ? parseInt(match[3]) : null,\n      versiculoFim: match[4] ? parseInt(match[4]) : null\n    });\n  }\n  \n  // Construir termos de busca (maximo 5 termos mais relevantes)\n  const searchTerms = [...new Set(words)].slice(0, 5).join(' ');\n  \n  results.push({\n    json: {\n      userMessage,\n      sessionId,\n      userId,\n      timestamp,\n      requestId,\n      subscription,\n      access,\n      searchTerms,\n      references,\n      hasReferences: references.length > 0\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "ea84eb66-00c2-4e73-9c2f-ad76bbc4d8ba",
      "name": "Extrair Termos de Busca",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6304,
        1680
      ],
      "notes": "Analisa a pergunta do usuario para:\n1. Extrair palavras-chave relevantes\n2. Detectar referencias biblicas (ex: Joao 3:16)\n3. Preparar termos para busca no banco"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Buscar versiculos relevantes para o contexto\nWITH busca_texto AS (\n    SELECT\n        l.liv_nome as livro,\n        v.ver_capitulo as capitulo,\n        v.ver_versiculo as versiculo,\n        v.ver_texto as texto,\n        l.liv_nome || ' ' || v.ver_capitulo || ':' || v.ver_versiculo as referencia,\n        ts_rank(to_tsvector('portuguese', v.ver_texto), plainto_tsquery('portuguese', $1)) as relevancia\n    FROM versiculos v\n    JOIN livros l ON v.ver_liv_id = l.liv_id\n    WHERE \n        $1 != '' AND\n        to_tsvector('portuguese', v.ver_texto) @@ plainto_tsquery('portuguese', $1)\n    ORDER BY relevancia DESC\n    LIMIT 10\n)\nSELECT * FROM busca_texto\nWHERE relevancia > 0.01\nORDER BY relevancia DESC\nLIMIT 8;",
        "options": {}
      },
      "id": "68b33721-595f-44bb-8c7e-0f22936ca491",
      "name": "Buscar na Biblia (PostgreSQL)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6528,
        1616
      ],
      "credentials": {
        "postgres": {
          "id": "TObxguE2q2q3R9xN",
          "name": "Postgres account"
        }
      },
      "notes": "Busca versiculos relevantes usando full-text search do PostgreSQL."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Buscar versiculos por referencia especifica\nSELECT\n    l.liv_nome as livro,\n    v.ver_capitulo as capitulo,\n    v.ver_versiculo as versiculo,\n    v.ver_texto as texto,\n    l.liv_nome || ' ' || v.ver_capitulo || ':' || v.ver_versiculo as referencia\nFROM versiculos v\nJOIN livros l ON v.ver_liv_id = l.liv_id\nWHERE \n    LOWER(l.liv_nome) LIKE LOWER($1 || '%')\n    AND v.ver_capitulo = $2\n    AND ($3::int IS NULL OR v.ver_versiculo >= $3)\n    AND ($4::int IS NULL OR v.ver_versiculo <= COALESCE($4, $3, v.ver_versiculo))\nORDER BY v.ver_versiculo\nLIMIT 15;",
        "options": {}
      },
      "id": "4fba425e-2a73-45a5-bd08-df0a17de26f1",
      "name": "Buscar por Referencia",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        6528,
        1776
      ],
      "credentials": {
        "postgres": {
          "id": "TObxguE2q2q3R9xN",
          "name": "Postgres account"
        }
      },
      "notes": "Busca versiculos quando o usuario menciona uma referencia especifica"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// COMBINAR RESULTADOS E CONSTRUIR CONTEXTO\n// ========================================\n\n// Pegar dados da extracao de termos\nconst inputData = $('Extrair Termos de Busca').first().json;\n\n// Pegar resultados das buscas\nconst textSearchResults = $('Buscar na Biblia (PostgreSQL)').all().map(i => i.json);\nconst refSearchResults = $('Buscar por Referencia').all().map(i => i.json);\n\n// Combinar resultados, priorizando referencias especificas\nconst allResults = [];\nconst seenRefs = new Set();\n\n// Primeiro adiciona resultados de referencia especifica\nfor (const result of refSearchResults) {\n  if (result.referencia && !seenRefs.has(result.referencia)) {\n    seenRefs.add(result.referencia);\n    allResults.push(result);\n  }\n}\n\n// Depois adiciona resultados da busca por texto\nfor (const result of textSearchResults) {\n  if (result.referencia && !seenRefs.has(result.referencia)) {\n    seenRefs.add(result.referencia);\n    allResults.push(result);\n  }\n}\n\n// Limitar a 10 versiculos para o contexto\nconst contextVerses = allResults.slice(0, 10);\n\n// Construir contexto biblico formatado\nlet bibleContext = '';\nif (contextVerses.length > 0) {\n  bibleContext = '\\n\\n## VERSICULOS RELEVANTES DA BIBLIA (use como referencia):\\n';\n  for (const verse of contextVerses) {\n    bibleContext += `\\n**${verse.referencia}**: \"${verse.texto}\"\\n`;\n  }\n  bibleContext += '\\n---\\n';\n}\n\nreturn [{\n  json: {\n    ...inputData,\n    bibleContext,\n    versesFound: contextVerses.length,\n    contextVerses\n  }\n}];"
      },
      "id": "30d0edac-2327-454d-8b45-2891a01be27e",
      "name": "Combinar Resultados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6752,
        1680
      ],
      "notes": "Combina resultados das duas buscas e prepara o contexto biblico para a IA"
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// CONSTRUCAO DO PROMPT COM CONTEXTO BIBLICO\n// ========================================\n\nconst items = $input.all();\nconst results = [];\n\n// Prompt de sistema com contexto biblico profundo\nconst BIBLE_SYSTEM_PROMPT = `Voce e um assistente espiritual cristao especializado na Biblia Sagrada. Seu papel e:\n\n## IDENTIDADE E PROPOSITO\n- Voce e um conselheiro biblico sabio, compassivo e acolhedor\n- Seu conhecimento abrange toda a Biblia (Antigo e Novo Testamento)\n- Voce conhece profundamente teologia crista, historia biblica e interpretacao das Escrituras\n- IMPORTANTE: Voce tem acesso a uma base de dados com todos os versiculos da Biblia em portugues\n\n## DIRETRIZES DE RESPOSTA\n1. **Base Biblica**: Sempre fundamente suas respostas nas Escrituras Sagradas\n2. **Citacoes**: Use os versiculos fornecidos no contexto e cite com referencia completa (ex: Joao 3:16)\n3. **Contextualizacao**: Explique o contexto historico e cultural quando relevante\n4. **Aplicacao Pratica**: Conecte os ensinamentos biblicos com a vida cotidiana\n5. **Tom Acolhedor**: Seja gentil, empatico e encorajador\n6. **Precisao**: Se nao souber algo com certeza, admita humildemente\n\n## USANDO OS VERSICULOS DO CONTEXTO\n- Quando versiculos relevantes forem fornecidos, USE-OS na sua resposta\n- Cite o texto exato entre aspas seguido da referencia\n- Se o usuario perguntar por uma referencia especifica, cite o versiculo completo\n- Relacione os versiculos com a pergunta do usuario\n\n## LIMITACOES\n- Nao faca previsoes sobre o futuro ou profecias pessoais\n- Nao substitua aconselhamento profissional (medico, juridico, psicologico)\n- Nao entre em debates denominacionais divisivos\n- Mantenha respeito por diferentes tradicoes cristas\n\n## FORMATO DE RESPOSTA\n- Seja conciso mas completo\n- Use linguagem clara e acessivel\n- Organize respostas longas em topicos quando apropriado\n- Sempre termine com uma palavra de encorajamento ou reflexao\n\nResponda em portugues brasileiro de forma natural e acolhedora.`;\n\nfor (const item of items) {\n  const { userMessage, sessionId, userId, timestamp, requestId, subscription, access, bibleContext, versesFound } = item.json;\n  \n  // Construir mensagem do usuario com contexto biblico\n  let enhancedUserMessage = userMessage;\n  if (bibleContext && versesFound > 0) {\n    enhancedUserMessage = userMessage + bibleContext;\n  }\n  \n  // Construir mensagens para a API\n  const messages = [\n    {\n      role: 'system',\n      content: BIBLE_SYSTEM_PROMPT\n    },\n    {\n      role: 'user',\n      content: enhancedUserMessage\n    }\n  ];\n  \n  results.push({\n    json: {\n      messages,\n      userMessage,\n      sessionId,\n      userId,\n      timestamp,\n      requestId,\n      subscription,\n      access,\n      versesFound,\n      model: 'gpt-4o-mini',\n      maxTokens: 1500,\n      temperature: 0.7\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "7a3dbc04-f9b7-478d-9536-d0e6fed6fe35",
      "name": "Construir Prompt Biblico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6960,
        1680
      ],
      "notes": "Monta o prompt com contexto biblico e versiculos do banco.\n\nExecutado apenas se acesso foi concedido."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": $json.model,\n  \"messages\": $json.messages,\n  \"max_tokens\": $json.maxTokens,\n  \"temperature\": $json.temperature,\n  \"presence_penalty\": 0.1,\n  \"frequency_penalty\": 0.1\n} }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          },
          "timeout": 60000
        }
      },
      "id": "85305d8e-41fb-4b3b-b0c5-77cd93793ec1",
      "name": "Chamar OpenAI API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7184,
        1680
      ],
      "credentials": {
        "openAiApi": {
          "id": "VPeWoKj6qKAyZFr7",
          "name": "OpenAi account"
        }
      },
      "notes": "Chamada para OpenAI Chat Completions API."
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// PROCESSAR RESPOSTA DA IA\n// ========================================\n\nconst items = $input.all();\nconst inputData = $('Construir Prompt Biblico').first().json;\nconst results = [];\n\nfor (const item of items) {\n  const response = item.json;\n  \n  if (!response.body || !response.body.choices || !response.body.choices[0]) {\n    throw new Error('AI_ERROR: Resposta invalida da API de IA');\n  }\n  \n  const aiResponse = response.body.choices[0].message.content;\n  const usage = response.body.usage || {};\n  \n  results.push({\n    json: {\n      response: aiResponse,\n      status: 'success',\n      metadata: {\n        requestId: inputData.requestId,\n        sessionId: inputData.sessionId,\n        userId: inputData.userId,\n        timestamp: inputData.timestamp,\n        responseTimestamp: new Date().toISOString(),\n        model: response.body.model || inputData.model,\n        versesUsed: inputData.versesFound || 0,\n        tokensUsed: {\n          prompt: usage.prompt_tokens || 0,\n          completion: usage.completion_tokens || 0,\n          total: usage.total_tokens || 0\n        },\n        subscription: {\n          status: inputData.subscription.status,\n          accessReason: inputData.access.reason\n        }\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "79757593-f0bd-4ca6-9fa5-8753e6c646a8",
      "name": "Processar Resposta IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7408,
        1680
      ],
      "notes": "Extrai e formata a resposta da IA.\n\nInclui informacao de assinatura e versiculos usados no metadata."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "X-Request-Id",
                "value": "={{ $json.metadata.requestId }}"
              }
            ]
          }
        }
      },
      "id": "eea98763-efc8-4705-81bc-dc934c42da70",
      "name": "Responder Sucesso",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        7632,
        1680
      ],
      "notes": "Retorna resposta JSON de sucesso (HTTP 200)."
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// RESPOSTA PARA USUARIO SEM ASSINATURA\n// ========================================\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const { userId, requestId, timestamp, subscription, access } = item.json;\n  \n  // Mensagem personalizada baseada no status\n  let message = '';\n  let subscriptionLink = 'https://seu-site.com/assinar'; // Altere para seu link\n  \n  if (subscription.status === 'cancelled') {\n    message = 'Sua assinatura foi cancelada. Reative para continuar usando o Bible AI Chat.';\n  } else if (subscription.status === 'paused') {\n    message = 'Sua assinatura esta pausada. Reative-a para continuar conversando.';\n  } else if (subscription.status === 'pending') {\n    message = 'Seu pagamento esta pendente. Conclua o pagamento para acessar o chat.';\n  } else {\n    message = 'Para usar o Bible AI Chat, voce precisa de uma assinatura ativa. Assine agora e tenha acesso ilimitado as conversas sobre a Biblia!';\n  }\n  \n  results.push({\n    json: {\n      response: null,\n      status: 'subscription_required',\n      error: {\n        type: 'SUBSCRIPTION_REQUIRED',\n        message,\n        code: 402\n      },\n      subscription: {\n        required: true,\n        currentStatus: subscription.status,\n        subscriptionLink,\n        plans: [\n          { id: 'monthly', name: 'Mensal', price: 'R$ 19,90/mes' },\n          { id: 'quarterly', name: 'Trimestral', price: 'R$ 49,90/trimestre' },\n          { id: 'yearly', name: 'Anual', price: 'R$ 149,90/ano' }\n        ]\n      },\n      metadata: {\n        requestId,\n        userId,\n        timestamp\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "ce2a99a7-8991-4d39-a895-253144bdfd6e",
      "name": "Resposta Assinatura Necessaria",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6304,
        1968
      ],
      "notes": "Gera resposta informando que assinatura e necessaria."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 402,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "88547425-6a5a-4315-ab3e-441b8c7793ea",
      "name": "Responder 402",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        6528,
        1968
      ],
      "notes": "Retorna HTTP 402 Payment Required."
    },
    {
      "parameters": {
        "jsCode": "// ========================================\n// TRATAMENTO DE ERROS CENTRALIZADO\n// ========================================\n\nconst error = $input.first().json;\nconst errorMessage = error.message || error.error?.message || 'Erro desconhecido';\nconst errorStack = error.stack || '';\n\nlet errorType = 'INTERNAL_ERROR';\nlet statusCode = 500;\nlet userMessage = 'Ocorreu um erro interno. Por favor, tente novamente.';\n\nif (errorMessage.includes('VALIDATION_ERROR')) {\n  errorType = 'VALIDATION_ERROR';\n  statusCode = 400;\n  userMessage = errorMessage.replace('VALIDATION_ERROR: ', '');\n} else if (errorMessage.includes('AI_ERROR')) {\n  errorType = 'AI_SERVICE_ERROR';\n  statusCode = 502;\n  userMessage = 'O servico de IA esta temporariamente indisponivel. Tente novamente em alguns instantes.';\n} else if (errorMessage.includes('timeout') || errorMessage.includes('ETIMEDOUT')) {\n  errorType = 'TIMEOUT_ERROR';\n  statusCode = 504;\n  userMessage = 'A requisicao demorou muito para ser processada. Tente novamente.';\n} else if (errorMessage.includes('401') || errorMessage.includes('Unauthorized')) {\n  errorType = 'AUTH_ERROR';\n  statusCode = 500;\n  userMessage = 'Erro de configuracao do servico. Contate o administrador.';\n} else if (errorMessage.includes('429') || errorMessage.includes('rate limit')) {\n  errorType = 'RATE_LIMIT_ERROR';\n  statusCode = 429;\n  userMessage = 'Muitas requisicoes. Aguarde alguns segundos e tente novamente.';\n} else if (errorMessage.includes('relation') || errorMessage.includes('does not exist')) {\n  errorType = 'DATABASE_ERROR';\n  statusCode = 500;\n  userMessage = 'Base de dados da Biblia nao encontrada. Execute o script de importacao.';\n}\n\nreturn [{\n  json: {\n    response: null,\n    status: 'error',\n    error: {\n      type: errorType,\n      message: userMessage,\n      code: statusCode,\n      timestamp: new Date().toISOString()\n    }\n  },\n  statusCode\n}];"
      },
      "id": "7ce8b2e2-3baa-4faa-a4c1-4f39072a3942",
      "name": "Tratar Erros",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6960,
        1968
      ],
      "notes": "Tratamento centralizado de erros."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { response: $json.response, status: $json.status, error: $json.error } }}",
        "options": {
          "responseCode": "={{ $json.statusCode }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "ebd423e2-0176-4b2c-acf8-8019c012a398",
      "name": "Responder Erro",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        7184,
        1968
      ],
      "notes": "Retorna resposta de erro com codigo HTTP apropriado."
    },
    {
      "parameters": {
        "content": "## Bible AI Chatbot - Com Assinatura + Base SQL\n\n### Endpoint\n`POST /webhook/chat/bible`\n\n### Body (JSON)\n```json\n{\n  \"message\": \"O que diz Joao 3:16?\",\n  \"userId\": \"user-123\" (OBRIGATORIO),\n  \"sessionId\": \"opcional\"\n}\n```\n\n### NOVO: Busca na Base SQL\n1. Busca full-text por palavras-chave\n2. Busca por referencia biblica\n3. Versiculos passados como contexto para IA\n\n### Configuracao PostgreSQL\n- Host: `postgres`\n- Port: `5432`\n- Database: `n8n`\n- User: `n8n`\n- Password: (conforme .env)",
        "height": 480,
        "width": 340,
        "color": 4
      },
      "id": "86c3f26e-9846-4201-8511-08b597c2c715",
      "name": "Documentacao",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4880,
        1584
      ]
    },
    {
      "parameters": {
        "content": "## Fluxo de Execucao\n\n1. Webhook recebe POST\n2. Valida parametros\n3. Verifica assinatura\n4. Se ativa:\n   - Extrai termos de busca\n   - Busca no PostgreSQL\n   - Combina resultados\n   - Monta prompt com versiculos\n   - OpenAI processa\n   - Resposta formatada\n5. Se inativa:\n   - Retorna 402",
        "height": 320,
        "width": 260,
        "color": 6
      },
      "id": "f018db5b-f34e-48f3-84d5-a6698d187c68",
      "name": "Fluxo",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5248,
        1536
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Chat Bible API": {
      "main": [
        [
          {
            "node": "Validar Parametros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Parametros": {
      "main": [
        [
          {
            "node": "Buscar Assinatura no DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Assinatura no DB": {
      "main": [
        [
          {
            "node": "Verificar Assinatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Assinatura": {
      "main": [
        [
          {
            "node": "Acesso Permitido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acesso Permitido?": {
      "main": [
        [
          {
            "node": "Extrair Termos de Busca",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resposta Assinatura Necessaria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Termos de Busca": {
      "main": [
        [
          {
            "node": "Buscar na Biblia (PostgreSQL)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Buscar por Referencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar na Biblia (PostgreSQL)": {
      "main": [
        [
          {
            "node": "Combinar Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar por Referencia": {
      "main": [
        [
          {
            "node": "Combinar Resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Resultados": {
      "main": [
        [
          {
            "node": "Construir Prompt Biblico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Prompt Biblico": {
      "main": [
        [
          {
            "node": "Chamar OpenAI API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chamar OpenAI API": {
      "main": [
        [
          {
            "node": "Processar Resposta IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Processar Resposta IA": {
      "main": [
        [
          {
            "node": "Responder Sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resposta Assinatura Necessaria": {
      "main": [
        [
          {
            "node": "Responder 402",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tratar Erros": {
      "main": [
        [
          {
            "node": "Responder Erro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d01641f7-503a-4cf6-9fe6-a4febd3c5b4a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4676de877023f62dc701e26d391eeebccb0cb595bc22200369e7b596a95f8924"
  },
  "id": "4naxW-m67zv7Rgw1iuS8p",
  "tags": [
    {
      "updatedAt": "2026-02-02T18:46:11.335Z",
      "createdAt": "2026-02-02T18:46:11.335Z",
      "id": "4x1dnXD0HKcPdjgs",
      "name": "chatbot"
    },
    {
      "updatedAt": "2026-02-02T18:46:11.332Z",
      "createdAt": "2026-02-02T18:46:11.332Z",
      "id": "6w041HikA0jt4BuA",
      "name": "bible"
    },
    {
      "updatedAt": "2026-02-02T18:46:11.331Z",
      "createdAt": "2026-02-02T18:46:11.331Z",
      "id": "6MjEib1T8xdZ37if",
      "name": "ai"
    },
    {
      "updatedAt": "2026-02-02T18:58:43.340Z",
      "createdAt": "2026-02-02T18:58:43.340Z",
      "id": "W0mK3fjtACp0yntq",
      "name": "subscription"
    },
    {
      "updatedAt": "2026-02-02T18:46:11.338Z",
      "createdAt": "2026-02-02T18:46:11.338Z",
      "id": "g8B4HP5zcEkBSLKY",
      "name": "postgresql"
    }
  ]
}